body {
    background-color: hwb(180 89% 8%);
}

.profile {
   width: 500px;
   margin: 0 auto;
    background-color: white;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding-top: 50px;
margin: 50px auto 0px;
}

.avatar {
    width: 300px;
   border-radius: 50% 50% 50% 50%; 
   margin: 0 auto;
    background-color: hsl(179, 60%, 84%)
}

.name {
    align-self: center;
    font-size: 40px;
    margin: 10px;
}

.tag {
        font-size: 20px;
    margin: 10px;
        align-self: center;
}

.location {
        font-size: 20px;
    margin: 10px 0 40PX;
        align-self: center;
}

.stats {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    padding-left: 0;
    background-color: rgba(241, 241, 236, 0.679);
    list-style-type: none;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

 .item {
    width: 33.33%;   
 }

 .item + .item {
    border-left: 1px solid grey;
 }

.label {
    display: block;
    padding: 30px 0 10px;
    text-align: center;
}

.quantity {
        display: block;
        padding-bottom: 30px;
        text-align: center;
}